@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*we will have to change this*@
@model MummyInfo

<div class="card bg-light border-dark text-center p-3">
    <div class="container">
        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
                @{ var reference1 = "first_" + Model.burial.BurialId;}
                @{ var reference2 = "second_" + Model.burial.BurialId;}
                @{ var reference3 = "third_" + Model.burial.BurialId;}
                @{ int firstNum = (int)Model.location.MetersNs + 10;}
                @{ int secondNum = (int)Model.location.MetersEw + 10;}
                <a class="nav-link active" id="@reference1-tab" data-toggle="tab" href="#@reference1" role="tab" aria-controls="@reference1" aria-selected="true">Mummy Burial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="@reference2-tab" data-toggle="tab" href="#@reference2" role="tab" aria-controls="@reference2" aria-selected="false">Metrics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="@reference3-tab" data-toggle="tab" href="#@reference3" role="tab" aria-controls="@reference3" aria-selected="false">Observations</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <h4 class="p-2 text-center">N @Model.location.MetersNs / @firstNum E @Model.location.MetersEw / @secondNum @Model.location.Subplot #@Model.burial.BurialNum</h4>
            <div class="tab-pane fade show active" id="@reference1" role="tabpanel" aria-labelledby="@reference1-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <ul class="list-group p-2">
                                @{ var gender = ""; var preservation = "";}
                                @if (Model.body.GenderKey == "F")
                                {
                                    gender = "Female";
                                }
                                else if (Model.body.GenderKey == "M")
                                {
                                    gender = "Male";
                                }
                                else
                                {
                                    gender = "Undetermined";
                                }
                                @if (Model.body.BurialPreservation == null || Model.body.BurialPreservation == "")
                                {
                                    preservation = "No current information";
                                }
                                else
                                {
                                    preservation = Model.body.BurialPreservation;
                                }
                                <li class="list-group-item">Sex: @gender</li>
                                <li class="list-group-item">Preservation: @preservation</li>
                                <li class="list-group-item">Year Excavated: @Model.excavation.ExcYear</li>
                                <li class="list-group-item">
                                    <form asp-action="BurialDetails" method="post" class="text-center">
                                        <input type="hidden" name="BurialId" value="@Model.burial.BurialId" />
                                        <input type="submit" value="More Details" class="btn btn-secondary" />
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="@reference2" role="tabpanel" aria-labelledby="@reference2-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <p>South to Head: @Model.physicalOrientation.StoHead</p>
                            <p>West to Head: @Model.physicalOrientation.WtoHead</p>
                        </div>
                        <div class="col-sm">
                            <p>South to Feet: @Model.physicalOrientation.StoFeet</p>
                            <p>West to Feet: @Model.physicalOrientation.WtoFeet</p>
                        </div>
                        <div class="col-sm">
                            <p>Length: @Model.physicalOrientation.LengthOfRemainsInMeters</p>
                            <p>Depth: @Model.physicalOrientation.BurialDepth</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="@reference3" role="tabpanel" aria-labelledby="@reference3-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            @foreach (var f in Model.files)
                            {
                                if (f.Photo != null || f.Photo != "")
                                {
                                    <img src="@f.Photo" />
                                }
                            }
                        </div>
                        <div class="col-sm">
                            <p>Artifacts Found: @Model.burial.ArtifactFound</p>
                            <p>Artifacts Description: @Model.burial.ArtifactsDescription</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

